body {
  background-color: black;
}

.navbar-brand {
  font-family: 'Star Jedi', sans-serif;
  font-size: 1.5rem;
}
.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem 0;
}

.star-card-wrapper {
  flex: 0 0 auto;
  width: 230px;
}

.star-card {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-wrapper{
  min-width: 100px;
  max-width: 250px;
  flex: 0 0 auto;
}

.star-card img {
  height: 200px;
  object-fit: cover;
}

.d-flex::-webkit-scrollbar {
  height: 10px;
}

.d-flex::-webkit-scrollbar-thumb {
  background: #ffc107;
  border-radius: 10px;
}